{% extends "employee_information/base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Customer</h4>
            <div class="text-start">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm" id="create_new"><i class="material-icons mdc-button__icon">add</i><span> Add Customer</span></button>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="15%">
                    <col width="20%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                    
                   
                </colgroup>
                <thead>
                    <tr>
                       
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">Name</th>
                        <th class="text-center py-1">Email</th>
                        <th class="text-center py-1">Address</th>
                        <th class="text-center py-1">Phone</th>
                        <th class="text-center py-1">Company Name</th>
                        <th class="text-center py-1">Stamp</th>
                        <th class="text-center py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cust in Cust %} 
                    <tr>
                        <td class="px-2 py-1 text-center">{{ forloop.counter }}</td>
                        <td class="px-2 py-1 text-start">{{ cust.name }}</td>
                        <td class="px-2 py-1 text-start">{{ cust.email }}</td>
                        <td class="px-2 py-1 text-start">{{ cust.address }}</td>
                        <td class="px-2 py-1 text-start">{{ cust.con }}</td>
                        <td class="px-2 py-1 text-start">{{ cust.company_name }}</td>
                        <td class="px-2 py-1 text-center">
                            {% if cust.stamp %}
                                <img src="{{ cust.stamp.url }}" alt="Stamp Image" style="max-width: 100px; max-height: 100px;">
                            {% else %}
                                No image uploaded
                            {% endif %}
                        </td>
                        
                        <!-- <td class="px-2 py-1 text-center">{{ cust.stamp }}</td> -->
                    <!--  -->
                        <td class="px-2 py-1 text-center">
                            {% if cust.status == 1 %}
                            <span class="badge bg-primary rounded-pill px-3">Active</span> {% else %}
                            <span class="badge bg-secondary rounded-pill px-3">Inactive</span> {% endif %}
                        </td>
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ cust.pk }}" title="Edit">
                                <i class="material-icons mdc-button__icon">edit</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ cust.pk }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button mdc-ripple-upgraded view-data" type="button" data-id="{{ cust.pk }}" title="View Details">
                                <i class="material-icons mdc-button__icon">visibility</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Add Customer", "{% url 'manage_customer-page' %}")
        })
        $('.edit-data').click(function() {
            uni_modal("Edit Customer", "{% url 'manage_customer-page' %}?id=" + $(this).attr('data-id'))
        })
        $('.view-data').click(function() {
            uni_modal("Customer Details", "{% url 'view-customer-page' %}?id=" + $(this).attr('data-id'), 'mid-large')
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this Customer?", "delete_customer", [$(this).attr('data-id')])
        })
    })

    function delete_customer($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-customer' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}