<div class="container-fluid">
    <form action="" id="expense-form">
        <input type="hidden" name="id" value="{% if exps.pk %}{{exps.pk}}{% endif %}">
       
        <div class="form-group mb-3">
            <label for=" expense" class="control-label">Expense ID</label>
            <input type="text" name="expense" id="expense" class="form-control form-control-sm rounded-0" value="{% if exps.expense %}{{exps.expense}}{% endif %}" required>
        </div>

        <div class="form-group mb-3">
            <label for="expense_id" class="control-label">Expense Type</label>
            <select name="expense_id" id="expense_id" class="form-select form-select-sm rounded-0" required>
                {% if not exps.expense_id %}
                <option value="1" disabled selected>Please Select Here</option>
                {% else %}
                <option value="1" disabled>Please Select Here</option>
                {% endif %}
                {% for expe in Expe %} 
             
                    {% if exps.expense_id and exps.expense_id == expe.id %}
                    <option value="{{ expe.id }}" selected>{{ expe.type }}</option>
                    {% else %}
                    <option value="{{ expe.id }}">{{ expe.type }}</option>
                    {% endif %}
                {% endfor %}

            </select>
        </div>

        
        
                <div class="form-group mb-3">
                    <label for="veh_id" class="control-label">Vehicle Number</label>
                    <select name=" veh_id" id=" veh_id" class="form-select form-select-sm rounded-0" required>
                        {% if not exps.veh_id  %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for veh in Vehi %} 
                     
                            {% if exps.veh_id and exps.veh_id == veh.id %}
                            <option value="{{ veh.id }}" selected>{{ veh.vehicle_number }}</option>
                            {% else %}
                            <option value="{{ veh.id }}">{{ veh.vehicle_number }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for=" amount" class="control-label">Amount</label>
                    <input type="number" name=" amount" id=" amount" class="form-control form-control-sm rounded-0" value="{% if exps.amount %}{{exps.amount}}{% endif %}" required>
                </div>
        
                <div class="form-group mb-3">
                    <label for=" Description" class="control-label">Description</label>
                    <input type="text" name=" Description" id=" Description" class="form-control form-control-sm rounded-0" value="{% if exps.Description %}{{exps.Description}}{% endif %}" required>
                </div>
        
                <div class="form-group mb-3">
                    <label for=" date_added" class="control-label">Date</label>
                    <input type="date" name=" date_added" id=" date_added" class="form-control form-control-sm rounded-0" value="{% if exps.date_added %}{{exps.date_added}}{% endif %}" required>
                </div>
       


        <div class="form-group mb-3">
            <label for="status" class="control-label">Status</label>
            <select name="status" id="status" class="form-control form-control-sm rounded-0" required>
            {% if exps.status and exps.status == 1 %}
            <option value="1" selected>Active</option>
            {% else %}
            <option value="1">Active</option>
            {% endif %}

            {% if exps.status and exps.status == 0 %}
            <option value="0" selected>Inactive</option>
            {% else %}
            <option value="0">Inactive</option>
            {% endif %}
        </select>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#expense-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-expense-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>