<div class="container-fluid">
    <form action="" id="rent-form">
        <input type="hidden" name="id" value="{% if ren.pk %}{{ren.pk}}{% endif %}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for=" amount" class="control-label">Amount</label>
                    <input type="number" name="amount" id=" amount" class="form-control form-control-sm rounded-0" value="{% if ren.amount %}{{ren.amount}}{% endif %}" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="rent_start" class="control-label">Rent Start date</label>
                    <input type="date" name="rent_start" id="rent_start" class="form-control form-control-sm rounded-0" value="{% if ren.rent_start %}{{ ren.rent_start|date:'Y-m-d' }}{% endif %}" required>
                </div>

                <div class="form-group mb-3">
                    <label for="rent_end" class="control-label">Rent End date</label>
                    <input type="date" name="rent_end" id="rent_end" class="form-control form-control-sm rounded-0" value="{% if ren.rent_end %}{{ ren.rent_end|date:'Y-m-d' }}{% endif %}" required>
                </div>
               
               
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="buyer" class="control-label">Customer</label>
                    <select name="buyer" id="buyer" class="form-select form-select-sm rounded-0" required>
                        {% if not ren.buyer %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for cust in Cust %} 
                            {% if ren.buyer and ren.buyer == cust.id %}
                            <option value="{{ cust.id }}" selected>{{ cust.name }}</option>
                            {% else %}
                            <option value="{{ cust.id }}">{{ cust.name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
              
              
               

                <div class="form-group mb-3">
                    <label for="con_id" class="control-label">Container ID</label>
                    <select name="con_id" id="con_id" class="form-select form-select-sm rounded-0" required>
                        {% if not ren.con_id %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for veh in Vehi %}
                        {% if ren.con_id and ren.con_id == veh.id %}
                        <option value="{{ veh.id }}" selected>{{ veh.vehicle_number }}</option>
                        {% else %}
                        <option value="{{ veh.id }}">{{ veh.vehicle_number }}</option>
                        {% endif %}
                    {% endfor %}

                </select>
            </div>
          

              

                




                <div class="form-group mb-3">
                    <label for="status" class="control-label">Status</label>
                    <select name="status" id="status" class="form-select form-select-sm rounded-0" required>
                        {% if ren.status == 1 %}
                        <option value="1" selected >Active</option>
                        {% else %}
                        <option value="1" >Active</option>
                        {% endif %}
            
                        {% if ren.status == 0 %}
                        <option value="0" selected>Inactive</option>
                        {% else %}
                        <option value="0">Inactive</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#rent-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-rent-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>