<div class="container-fluid">
    <form action="" id="spe-form">
        <input type="hidden" name="id" value="{% if spe.pk %}{{spe.pk}}{% endif %}">
        <div class="row">
            <div class="col-md-6">
              
                <div class="form-group mb-3">
                    <label for=" ship" class="control-label">Shipper</label>
                    <input type="text" name=" ship" id=" ship" class="form-control form-control-sm rounded-0" value="{% if spe.ship %}{{spe.ship}}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="  Pol" class="control-label">POL</label>
                    <input type="text" name="  Pol" id="  Pol" class="form-control form-control-sm rounded-0" value="{% if spe.Pol %}{{spe.Pol}}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="  Pofd" class="control-label">POFD</label>
                    <input type="text" name="  Pofd" id="  Pofd" class="form-control form-control-sm rounded-0" value="{% if spe.Pofd %}{{spe.Pofd}}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="  Pol2" class="control-label">POT1</label>
                    <input type="text" name="  Pol2" id="  Pol2" class="form-control form-control-sm rounded-0" value="{% if spe.Pol2 %}{{spe.Pol2}}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="  Pofd2" class="control-label">POT2</label>
                    <input type="text" name="  Pofd2" id="  Pofd2" class="form-control form-control-sm rounded-0" value="{% if spe.Pofd2 %}{{spe.Pofd2}}{% endif %}" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for=" rate" class="control-label">Rate</label>
                    <input type="number" name=" rate" id="rate" class="form-control form-control-sm rounded-0" value="{% if spe.rate %}{{spe.rate}}{% endif %}" required>
                </div>
              
                <div class="form-group mb-3">
                    <label for="tra_date" class="control-label">Transaction date</label>
                    <input type="date" name="tra_date" id="tra_date" class="form-control form-control-sm rounded-0" value="{% if spe.tra_date %}{{ spe.tra_date|date:'Y-m-d' }}{% endif %}" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="tan_exp" class="control-label">Transaction Expirey </label>
                    <input type="date" name="tan_exp" id="tan_exp" class="form-control form-control-sm rounded-0" value="{% if spe.tan_exp %}{{ spe.tan_exp|date:'Y-m-d' }}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for=" det" class="control-label">Detention</label>
                    <input type="number" name=" det" id=" det" class="form-control form-control-sm rounded-0" value="{% if spe.det %}{{spe.det}}{% endif %}" required>
                </div>
               
              
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="customer" class="control-label">Customer</label>
                    <select name="customer" id="customer" class="form-select form-select-sm rounded-0" required>
                        {% if not spe.customer %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for cust in Cust%}
                            {% if spe.customer and spe.customer == cust.id %}
                            <option value="{{ cust.id }}" selected>{{ cust.name }}</option>
                            {% else %}
                            <option value="{{ cust.id }}">{{ cust.name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="Commodity" class="control-label">Commodity</label>
                    <select name="Commodity" id="Commodity" class="form-select form-select-sm rounded-0" required>
                        {% if not spe.Commodity %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for com in Com %}
                            {% if spe.Commodity and spe.Commodity == com.id %}
                            <option value="{{ com.id }}" selected>{{ com.type }}</option>
                            {% else %}
                            <option value="{{ com.id }}">{{ com.type }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                
               
                <div class="form-group mb-3">
                    <label for="freight" class="control-label">Freight Category</label>
                    <select name="freight" id="freight" class="form-select form-select-sm rounded-0" required>
                        {% if not spe.freight %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for fr in freight %}
                            {% if spe.freight and spe.freight == fr.id %}
                            <option value="{{ fr.id }}" selected>{{ fr.type }}</option>
                            {% else %}
                            <option value="{{ fr.id }}">{{ fr.type }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>

              

                <div class="form-group mb-3">
                    <label for="agent" class="control-label">Agent</label>
                    <select name="agent" id="agent" class="form-select form-select-sm rounded-0" required>
                        {% if not spe.agent %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for ag in Ag %}
                            {% if spe.agent and spe.agent == ag.id %}
                            <option value="{{ ag.id }}" selected>{{ ag.name }}</option>
                            {% else %}
                            <option value="{{ ag.id }}">{{ ag.name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                




                <div class="form-group mb-3">
                    <label for="status" class="control-label">Status</label>
                    <select name="status" id="status" class="form-select form-select-sm rounded-0" required>
                        {% if spe.status == 1 %}
                        <option value="1" selected >Active</option>
                        {% else %}
                        <option value="1" >Active</option>
                        {% endif %}
            
                        {% if spe.status == 0 %}
                        <option value="0" selected>Inactive</option>
                        {% else %}
                        <option value="0">Inactive</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#spe-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-spe-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>